
extends layout

block content

	h1= title

	link(rel='stylesheet', href='/stylesheets/modalStyle.css', type='text/css')
	link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css', type='text/css')

	script(src='/javascripts/openModal.js')
	input(type='button', value='Add new Concert', onclick='openModal()')

	div(class='divTable')
		div(class='divTableHeading')
			div(class='divTableRow')
				div(class='divTableHead') Concert
				div(class='divTableHead') Interpret
				div(class='divTableHead') Place
				div(class='divTableHead') Time
		div(class='divTableBody')
			each concert in concerts
				div(class='divTableRow')
					div(class='divTableCell') #{concert.ConcertName}
					div(class='divTableCell') #{concert.InterpretName}
					div(class='divTableCell') #{concert.Place}
					div(class='divTableCell') #{concert.Time}

	div(id='addForm' class='modal')
		.modal-dialog
			.modal-content
				.modal-header
					h4.modal-title Add new Concert
					//span(class='close' onclick='closeModal()')&times;
					button.close(type="button", data-dismiss="modal", aria-hidden="true", onclick='closeModal()') &times;

				.modal-body
					p Body Content

				.modal-footer
					button.btn.btn-success(type="button", data-dismiss="modal") Add Concert

