
extends layout

block content

	h1= title

	ul
	each concert, c in concerts
		li <strong>#{concert.ConcertName}</strong> by <u>#{concert.InterpretName}</u> (Place: #{concert.Place}, Time: #{concert.Time})

