
extends layout

block content

	h1= title

	link(rel='stylesheet', href='/stylesheets/modalStyle.css', type='text/css')
	link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css', type='text/css')

	script(src='https://code.jquery.com/jquery-3.3.1.js')
	script(src='/javascripts/openModal.js')
	input(type='button', value='Add new Concert', onclick='openModal()')

	.divTable
		.divTableHeading
			.divTableRow
				.divTableHead Concert
				.divTableHead Interpret
				.divTableHead Place
				.divTableHead Time
		.divTableBody
			each concert in concerts
				.divTableRow
					.divTableCell #{concert.ConcertName}
					.divTableCell #{concert.InterpretName}
					.divTableCell #{concert.Place}
					.divTableCell #{concert.Time}

	// would be interesting to use 'jade-bootstrap' nodejs library
	div(id='addForm' class='modal')
		.modal-dialog
			.modal-content
				.modal-header
					h4.modal-title Add new Concert
					//span(class='close' onclick='closeModal()')&times;
					button.close(type="button", data-dismiss="modal", aria-hidden="true", onclick='closeModal()') &times;

				.modal-body
					//.div
					p Concert Name: 
						input(id='ConcertName', placeholder='Concert Name' class='aligned-input')
					p Interpret Name: 
						input(id='InterpretName', placeholder='Interpret Name', class='aligned-input')
					p Place: 
						input(id='Place', placeholder='Place', class='aligned-input')
					p Time: 
						input(id='Time', placeholder='Time', class='aligned-input')

				.modal-footer
					button.btn.btn-success(type="a", data-dismiss="modal", onclick='asyncAddConcert()') Add Concert

